<!DOCTYPE html>
<html lang="en">
  <head>
  
   <style>
   div {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
  </head>
  
  <body>
    <div>
      <h1> iframe 가운데 정렬!__게시판 일단 해결..</h1>
    </div>
    <div><A HREF="https://docs.google.com">구글 DOCS를 이용.</A></div>
    
    <div class="container">

      
<iframe src="https://docs.google.com/document/d/e/2PACX-1vSJH-UghhiUsj0Uzcr63AOIZvQBo5XtYUuWdDkzqUWIx9MQLtWVQ1lG6QBPgeRguojOxF6W5YbLyHL5/pub?embedded=true" width="700" height="700" centered></iframe>
       </div>
        
         <section class="py-5" "bg-dark">
      <div class="container" bg="black">
        <h1>AECHE</h1>
         </section>
  </body>
</html>
