<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Practice</title>
    <div> 어렵다 어려워</div>
    <p>짝</p>
    어렵다 왜 제목이 안생기는 걸까 
    
  </head>
  
  <body>
    <div>Making the Web Beautiful!
      <p>이렇다면?</p>
    </div>
    <div><A HREF="/#">~</A></div>
    
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">AECHE optique</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Asian Classic</a>
            <a href="#" class="list-group-item">European Classic</a>
            <a href="#" class="list-group-item">Sunglasses</a>
          </div>

        </div>
  </body>
</html>
